body{
    background-color: cyan;
    
}

h1{
    color: rgb(245, 45, 5);
    text-align: center;
    margin-top: 50px;
}
#container{
    display: flex;
    height: 150px;
    width: 60%;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    background-color: blueviolet;
}

.inp-div{
    display: flex;
    flex-direction: column;
    margin: 8px;
}

#container label{
    font-size: 20px;
}

.inp{
    border: 2px solid saddlebrown;
}
